@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@100&family=Poppins:wght@400;500;600&family=Raleway:wght@500&display=swap');

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue-color: 266;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 81%, 54%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --first-color-background: hsl(var(--hue-color), 0%, 4%);

    --title-color: hsl(var(--hue-color), 0%, 4%);
    --text-color: hsl(var(--hue-color), 0%, 45%);
    --text-color-light: hsl(var(--hue-color), 0%, 100%);
    
    /*--input-color: hsl(var(--hue-color), 70%, 96%);*/
    
    --body-color: hsl(var(--hue-color), 60%, 99%);
    
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-fixed: 100;

    /*--z-tooltip: 10;
    --z-modal: 1000;*/
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 4rem;
}

.section-titulo {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section-subtitulo {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section-titulo, 
.section-subtitulo {
  text-align: center;
}

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*==================== CABECALHO ====================*/

.cabecalho {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-background);
}

.cabecalho-container {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 20px 70px;*/
}

.navbar-toggle {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

/*.cabecalho-logo:hover {
    color: var(--first-color);
}*/

.cabecalho-logo {
    margin-top: 1%;
}

.cabecalho-img {
    height: 2.5rem;
    filter: invert(100%);
}

.navbar-toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.navbar-toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .cabecalho-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.cabecalho-menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.menu-item:hover {
    color: var(--first-color);
}


.menu-item > i {
    font-size: 1.2rem;
}

.menu-close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.menu-close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}

.active-item {
    color: var(--first-color);
}

.scroll-cabecalho {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== INÃCIO ====================*/

.inicio {
    background-color: var(--first-color-background);
}

.inicio-container {
    gap: 1rem;
}

.inicio-conteudo {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
    /*row-gap: 0;*/
}

.inicio-social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.inicio-social a {
    color: var(--text-color-light);
}

.social-icon {
    font-size: 1.25rem;
}

.social-icon:hover {
    color: var(--first-color-alt);
}

.inicio-img {
    width: 200px;
    filter: invert(100%);
    -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.inicio-info {
    grid-column: 1/3;
    padding: 1rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    /*background-color: rgba(0, 0, 0, 0.87);*/
}

.inicio-titulo {
    font-size: var(--big-font-size);
    color: var(--text-color-light);
    border-bottom: 2px solid var(--first-color);
}

.inicio-descricao {
    font-size: var(--h3-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}



blockquote {
    position: relative;
    min-height: 100px;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.brackets{
    padding-bottom: 2px;
}

.brackets::before{
    content:'[ ';
}
.brackets::after{
    content:' ]';
}

.author{
    margin-top: 10px;
    float: right;
    color: var(--text-color-light);
}

.cursor{
    animation: blink 2s ease infinite;
    -moz-animation: blink 2s ease infinite;
    -webkit-animation: blink 2s ease infinite;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


/*.inicio-descricao {
    margin-bottom: var(--mb-2);
}*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--text-color-light);
    padding: .5rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*==================== SOBRE ====================*/

.sobre-img {
    width: 200px;
    height: 150px;
    border: 5px solid var(--first-color);
    perspective: 1000px;
    border-radius: .5rem;
    
    justify-self: center;
    align-self: center;
}

.sobre-img-dentro {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.sobre-img:hover .sobre-img-dentro {
    transform: rotateY(180deg);
}
  
.sobre-img-frente, .sobre-img-tras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border-radius: .5rem;
    font-size: 5.3em;
    background-color: var(--first-color);
    color: var(--text-color-light);
}
  
.sobre-img-tras {
    transform: rotateY(180deg);
}

.sobre-descricao {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

/*==================== FERRAMENTAS ====================*/

.ferramentas-container {
    row-gap: 0;
}

.ferramentas-cabecalho {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-1-5);
    cursor: pointer;
}

.ferramentas-icon, .ferramentas-seta {
    font-size: 2rem;
    color: var(--first-color);
}

.ferramentas-icon {
    margin-right: var(--mb-0-75);
}

.ferramentas-titulo {
    font-size: var(--h3-font-size);
}

.ferramentas-subtitulo {
    font-size: var(--small-font-size);
    /*color: var(--text-color-light);*/
}

.ferramentas-seta {
    margin-left: auto;
    transition: .4s;
}

.ferramentas-lista {
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.ferramentas-titulos {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.ferramentas-nome {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.ferramentas-nome a {
    color: var(--title-color);
}

.ferramentas-barra, .ferramentas-porcentagem {
    height: 5px;
    border-radius: .25rem;
}

.ferramentas-barra {
    background-color: var(--first-color-lighter);
}

.ferramentas-porcentagem {
    display: block;
    background-color: var(--first-color);
}

.ferramentas-html {
    width: 90%;
}

.ferramentas-css {
    width: 75%;
}

.ferramentas-js {
    width: 70%;
}

.ferramentas-php {
    width: 50%;
}

.ferramentas-angular {
    width: 45%;
}

.ferramentas-fechado .ferramentas-lista {
    height: 0;
    overflow: hidden;
}

.ferramentas-aberto .ferramentas-lista {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.ferramentas-aberto .ferramentas-seta {
    transform: rotate(-180deg);
}

/*==================== PROJETOS ====================*/

.projetos-container {
    overflow: initial;
    position: relative;
    padding: 0 1.5rem;
}

.projetos-conteudo {
    /*padding: 0 1.5rem;*/

    /*ADD*/
    background-color: var(--first-color-background);
    color: var(--first-color-lighter);
    border-radius: .5rem;
    padding: 2rem 1rem;
    box-shadow: 0 4px 8px rgba(47, 10, 13, .25);
    margin-bottom: var(--mb-2);
}

.projetos-img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.projetos-titulo {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
    color: var(--text-color-light);
}

.projetos-descricao {
    margin-bottom: var(--mb-0-75);
    color: var(--text-color);
}

.projetos-button:hover .button-icon {
    transform: translate(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-projetos-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -.5rem;
}

.swiper-button-next {
    right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}

/*==================== FOOTER ====================*/

.rodape {
    padding-top: 2rem;
}

.rodape-container {
    row-gap: 3.5rem;
}

.rodape-bg {
    background-color: var(--first-color-background);
    padding: 2rem 0 3rem;
}

.rodape-titulo {
    color: var(--text-color-light);
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.rodape-contato {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.rodape-social a {
    color: var(--text-color-light);
}

.rodape-copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-top: var(--mb-3);
}

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/ 
/* small */
@media screen and (max-width: 350px) {

    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .cabecalho-menu {
        padding: 2rem .25rem 4rem;
    }

    .inicio-conteudo {
        grid-template-columns: .25fr 3fr;
    }

    .ferramentas-titulo {
        font-size: var(--normal-font-size);
    }

    .projetos-img {
        width: 200px;
    }

}

/* medium */
@media screen and (min-width: 568px) {
    .inicio-conteudo {
        grid-template-columns: max-content 1fr 1fr;
    }
    .inicio-info {
        grid-column: initial;
    }
    .inicio-img {
        order: 1;
        justify-self: center;
    }

    .sobre-container,
    .ferramentas-container,
    .projetos-conteudo,
    .rodape-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
        height: 100vh;
    }

    .section-subtitulo {
        margin-bottom: 4rem;
    }

    .cabecalho {
        top: 0;
        bottom: initial;
    }

    .cabecalho,
    .conteudo,
    .rodape-container {
        padding: 0 1rem;
    }    

    .cabecalho-container {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .menu-item {
        color: var(--text-color-light);
    }

    .menu-icon,
    .menu-close,
    .navbar-toggle {
        display: none;
    }

    .cabecalho-menu {
        display: flex;
        column-gap: 2rem;
        margin-left: auto;
    }

    .inicio-container {
        row-gap: 5rem;
    }

    .inicio-conteudo {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }


    .sobre-container {
        column-gap: 5rem;
    }
    .sobre-img {
        width: 250px;
        height: 200px;
        line-height: 200px;
    }
    .sobre-descricao {
        text-align: initial;
    }
    .sobre-info {
        justify-content: space-between;
    }

    .projetos-img {
        width: 320px;
    }
    .projetos-conteudo {
        align-items: center;
    }

    .rodape-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .rodape-bg {
        padding: 3rem 0 3.5rem;
    }
    .rodape-social {
        justify-self: flex-end;
    }
    .rodape-copy {
        margin-top: 4.5rem;
    }

}

/* large */
@media screen and (min-width: 1024px) {
    .cabecalho,
    .conteudo,
    .rodape-container {
        padding: 0;
    }

    .section {
        height: 100vh;
    }

    .inicio-social {
        transform: translateX(-6rem);
    }

    .inicio-img {
        width: 300px;
    }

    .projetos-conteudo {
        column-gap: 5rem;
    }
    .swiper-projetos-icon {
        font-size: 3.5rem;
    }
    .swiper-button-prev {
        left: -3.5rem;
    }
    .swiper-button-next {
        right: -3.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets {
        width: -4.5rem;
    }

    .rodape-bg {
        padding: 3rem 0 3.5rem;
    }
    .rodape-social {
        justify-self: flex-end;
    }
    .rodape-copy {
        margin-top: 4.5rem;
    }
}